     .itstep{font: 100 5vh "Vibur";
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #2503e9, 0 0 0.5em #2503e9,
      0 0 0.1em #2503e9, 0 10px 3px #000;

  }
  .x{font: 100 5vh "Vibur";
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #fdd700, 0 0 0.5em #f9fd00,
      0 0 0.1em #f9fd00, 0 10px 3px #000;

  }
  .lenovo {
    font: 100 5vh "Vibur";
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444,
      0 0 0.1em #ff4444, 0 10px 3px #000;
  }
  
     .frame {
      
    border-radius: 30px;
      margin: 40px auto;
      text-align: center;
      padding-right: 15px;
      padding-left: 15px;
      
  
    }
   
    button {
      font-size: 20px;
    }
     
    .custom-btn {
    border-radius: 10px;
      color: #ffffff;
      width: 130px;
      height: 40px;
      padding: auto ;
      font-family: 'Lato', sans-serif;
      font-weight: 500;
      background: transparent;
      cursor: pointer;
      transition: all 0.3s ease;
      position: relative;
      display: inline-block;
      text-decoration: none;
      
    }
    
    
    
   .btn-9 {
      color: #ffffff;
      border: 1px solid #ffffff;
      box-shadow: 0 0 5px #ffffff, 0 0 5px #ffffff inset;
      z-index: 2;
      transition: all 0.3s ease;
      overflow: hidden;
    }
    .btn-9:after {
      position: absolute;
      content: " ";
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: all 0.3s ease;
    }
    .btn-9:hover {
      color: #000;
    }
    .btn-9:hover:after {
      background: #ffffff;
      -webkit-transform: scale(2) rotate(180deg);
      transform: scale(2) rotate(180deg);
      box-shadow:  4px 4px 6px 0 rgba(255,255,255, 1),
                  -4px -4px 6px 0 rgba(116, 125, 136, .2), 
        inset -4px -4px 6px 0 rgba(255,255,255, 1),
        inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
    }
   
    .custom-btn1 {
        border-radius: 10px;
      color: #03ca1d;
      width: 130px;
      height: 40px;
      padding: auto ;
      font-family: 'Lato', sans-serif;
      font-weight: 500;
      background: transparent;
      cursor: pointer;
      transition: all 0.3s ease;
      position: relative;
      display: inline-block;
      text-decoration: none;
      
    }
    
   .btn-10 {
      color: #03ca1d;
      border: 1px solid #03ca1d;
      box-shadow: 0 0 5px #03ca1d, 0 0 5px#03ca1d inset;
      z-index: 2;
      transition: all 0.3s ease;
      overflow: hidden;
    }
    .btn-10:after {
      position: absolute;
      content: " ";
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: all 0.3s ease;
    }
    .btn-10:hover {
      color: #000;
    }
    .btn-10:hover:after {
      background: #03ca1d;
      -webkit-transform: scale(2) rotate(180deg);
      transform: scale(2) rotate(180deg);
      box-shadow:  4px 4px 6px 0 rgba(255,255,255, 1),
                  -4px -4px 6px 0 rgba(116, 125, 136, .2), 
        inset -4px -4px 6px 0 rgba(255,255,255, 1),
        inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
    }
  
  
    .custom-btn2 {
        border-radius: 10px;
      color: #e90707;
      width: 130px;
      height: 40px;
      padding: auto ;
      font-family: 'Lato', sans-serif;
      font-weight: 500;
      background: transparent;
      cursor: pointer; 
      transition: all 0.3s ease;
      position: relative;
      display: inline-block;
      text-decoration: none;
      
    }
    
   .btn-1 {
      color: #e90707;
      border: 1px solid #e90707;
      box-shadow: 0 0 5px #e90707, 0 0 5px#e90707 inset;
      z-index: 2;
      transition: all 0.3s ease;
      overflow: hidden;
    }
    .btn-1:after {
      position: absolute;
      content: " "; 
      z-index: -1;  
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: all 0.3s ease;
    }
    .btn-1:hover {
      color: #000;
    }
    .btn-1:hover:after {
      background: #e90707;
      -webkit-transform: scale(2) rotate(180deg);
      transform: scale(2) rotate(180deg);
      box-shadow:  4px 4px 6px 0 rgba(255,255,255, 1),
                  -4px -4px 6px 0 rgba(116, 125, 136, .2), 
        inset -4px -4px 6px 0 rgba(255,255,255, 1),
        inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
    }
  
    
  
    .custom-btn3 {
        border-radius: 10px;
      color: #d7fd00;
      width: 130px;
      height: 40px;
      padding: auto ;
      font-family: 'Lato', sans-serif;
      font-weight: 500;
      background: transparent;
      cursor: pointer;
      transition: all 0.3s ease;
      position: relative;
      display: inline-block;
      text-decoration: none;
      
    }
    
   .btn-2 {
      color: #d7fd00;
      border: 1px solid #d7fd00;
      box-shadow: 0 0 5px #d7fd00, 0 0 5px #d7fd00 inset;
      z-index: 2;
      transition: all 0.3s ease;
      overflow: hidden;
    }
    .btn-2:after {
      position: absolute;
      content: " ";
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: all 0.3s ease;
    }
    .btn-2:hover {
      color: #000;
    }
    .btn-2:hover:after {
      background: #d7fd00;
      -webkit-transform: scale(2) rotate(180deg);
      transform: scale(2) rotate(180deg);
      box-shadow:  4px 4px 6px 0 rgba(255,255,255, 1),
                  -4px -4px 6px 0 rgba(116, 125, 136, .2), 
        inset -4px -4px 6px 0 rgba(255,255,255, 1),
        inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
    }
   